<html>

<body>

<div id="header" class="container">
<h1><span>Product I Upload</br></br></span></h1>
</div>

<% @upload.each do |c| %>
<div id="products">
  <%= link_to "#{c.title}", :action => 'show', :id => "#{c.id}" %></br>
    <%= link_to( image_tag(c.pic.url(:medium)), :controller => 'homepage', :action => 'show', :id => "#{c.id}")%></br>
</div>
<%end%>


<div id="header" class="container">
<h1><span>Product I Choose</br></br></span></h1>
</div>
<% @choose.each do |c| %>
<div id="products">
  <%= link_to "#{c.title}", :action => 'show', :id => "#{c.id}" %></br>
    <%= link_to( image_tag(c.pic.url(:medium)), :controller => 'homepage', :action => 'show', :id => "#{c.id}")%></br>
</div>
<%end%>





</body>
</html>
