// assets/stylesheets/account.css


#products {
width: 300px;
display: inline-block;
vertical-align:middle ;
*zoom: 1;
height : 500px;
border-color:rgba(0,20,20,0.9);
border-style:double;
text-align: center;
border-radius: 10px;
	box-shadow:8px 15px 40px #deb887;

	font-family: 'trebuchet MS', sans-serif;
	color: #FFFF33;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 0pt;
	line-height: 2;
}


